<h1 style="color:blue">{{titulo}}</h1>
<hr>

<div *ngIf="trabajadorExterno == true">
    <h3>Directiva ngIf</h3>
    <strong>Empleado</strong>
    <button (click)="cambiarExterno(false)">Mostrar empleado</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado == true">Está contratado</li>
        <li *ngIf="empleado.contratado == false">Está contratado</li>
    </ul>
</div>
<div *ngIf="trabajadorExterno == false">
    <strong>Trabajadores</strong>
    <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
    <ul>
        <li>{{trabajadores[2].nombre}}</li>
        <li>{{trabajadores[2].edad}}</li>
        <li>{{trabajadores[2].cargo}}</li>
        <li *ngIf="trabajadores[2].contratado == false">No está contratado</li>
        <li *ngIf="trabajadores[2].contratado == true">No está contratado</li>
    </ul>
</div>
<hr>
<div>
    <h3>Directiva ngFor</h3>
    <ul>
        <li *ngFor="let empleado of trabajadores; let i = index">
            <strong>Empleado {{i+1}}</strong>
            <ul>
                <li>{{empleado.nombre}}</li>
                <li>{{empleado.edad}}</li>
                <li>{{empleado.cargo}}</li>
                <li *ngIf="empleado.contratado == true">Está contratado</li>
                <li *ngIf="empleado.contratado == false">No está contratado</li>
            </ul>
        </li>
    </ul>
</div>
<hr>
<div>
    <h3>Directiva ngSwitch y ngStyle</h3>
    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'red'" [ngStyle]="{
            'background':color, 
            'color': 'white',
            'padding': '20px'
        }">Es de color ROJO</li>
        <li *ngSwitchCase="'green'" [ngStyle]="{
            'background':color, 
            'color': 'white',
            'padding': '20px'
        }">Es de color VERDE</li>
        <li *ngSwitchCase="'blue'" [ngStyle]="{
            'background':color, 
            'color': 'white',
            'padding': '20px'
        }">Es de color AZUL</li>

    </ul>
</div>
<hr>
<div>
    <h3>Selector de colores</h3>
    <input type="text" [(ngModel)]="colorSeleccionado">
    <button (click)="logColorSeleccionado()">Mostrar Color</button>
    <pre 
    [style.border]="colorSeleccionado == 'red' ? '5px solid black' : '1px solid green'" 
    [ngClass]="{
        fondoAzul: colorSeleccionado == 'blue',
        fondoVerde: colorSeleccionado == 'green'
    }">
        
    <strong>Color elegido</strong>
        {{colorSeleccionado}}
    </pre>
    <div [ngStyle]="{
        'background': colorSeleccionado,
        'width':'200px',
        'height': '200px',
        'float': 'right',
        'margin-right':'70%'   
    }"></div>
    <div style="clear:both"></div>
</div>