<h1 style="color:blue">{{titulo}}</h1>
<hr>
<br>

<input type="text" [(ngModel)]="prendaGuardar">

<button (click)="guardarPrenda()">Añadir Prenda</button>

<p *ngIf="prendaGuardar">La prenda a guardar es:
    <strong>{{prendaGuardar}}</strong>
</p>

<h3>Listado de prendas de ropa</h3>

<ul>
    <li *ngFor="let prenda of listadoRopa; let i= index">{{prenda}}
        <button (click)="eliminarPrenda(i)">Elimina la prenda</button>
    </li>
</ul>
<ul>
    <li>
        {{fecha | date:'dd/MM/yyyy'}}
    </li>
    <!--Ejemplo de PIPES-->
    <li>
        {{fecha | date:'fullDate' | uppercase | lowercase}}
    </li>
    <!--Ejemplo de PIPES Personalizada-->
    <li>
        {{5 | conversor:7}}
    </li>
</ul>